---
title: ChemicalDevelopment
layout: default
---
<meta name="google-site-verification" content="ZAYTT-14MCQUnVYgAwOuI7ovwGPJ9g5fMB1eNTVHVnw" />

<section class="box special">
	<header class="major">
		<h2><b>{{ page.title }}</b></h2>
	</header>
</section>

<!--
	The featured section, and quick links
-->
<section class="box special features">
	<div class="features-row">
		<section>
			<span class="icon major fa-plug accent7"></span>
			<h3>PGS</h3><br/>
			<ul class="actions">
				<li><a href="./programming/2016/10/03/PGS.html" class="button special-blue">Blog Post</a></li>
				<li><a href="./projects/pgs/" class="button special-red">Landing Page</a></li>
			</ul>
		</section>
		<section>
			<span class="icon major fa-desktop accent3"></span>
			<h3>Projects</h3><br/>
			<ul class="actions">
				<li><a href="./projects" class="button special-blue">Listings</a></li>
			</ul>
		</section>
	</div>
	<div class="features-row">
		<section>
			<span class="icon major fa-file-text accent4"></span>
			<h3>Papers</h3><br/>
			<ul class="actions">
				<li><a href="./papers" class="button special-blue">Listings</a></li>
			</ul>
		</section>
		<section>
			<span class="icon major fa-wrench accent8"></span>
			<h3>School Robotics</h3><br/>
			<ul class="actions">
				<li><a href="https://github.com/LN-STEMpunks" class="button special-blue">Code</a></li>
				<li><a href="http://lnstempunks.org/" class="button special-red">Website</a></li>
			</ul>
		</section>
	</div>
</section>
<!-- 
	Loop through relevant posts
 -->
<section class="box special features">
	{% assign val = 0 %}
	<div class="features-row">
	{% for post in site.posts %}
		{% if post.tags contains "ignore" %}
		{% else %}
			{% if val > 1 %}
				</div>
				<div class="features-row">
				{% assign val = 0 %}
			{% endif %}
			<section>
				<span class="image featured"><img src="./assets/images/{{ post.image }}" alt="" /></span>
				<h3>{{ post.title }}</h3>
				<p>{{ post.description }}</p>
				<ul class="actions">
					<li><a href="{{ post.url }}" class="button alt">Read Article</a></li>
				</ul>
			</section>
			{% assign val = val | plus: 1 %}
		{% endif %}
	{% endfor %}
</section>


