---
title: ChemicalDevelopment
layout: default
---
<meta name="google-site-verification" content="ZAYTT-14MCQUnVYgAwOuI7ovwGPJ9g5fMB1eNTVHVnw" />

<section class="box special">
	<header class="major">
		<h2><b>{{ page.title }}</b></h2>
	</header>
	<!--<span class="image featured"><img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" /></span>-->
</section>

<section class="box special features">
	<div class="features-row">
		<section>
			<span class="icon major fa-desktop accent3"></span>
			<h3>FractalRender</h3>
			<p>Generate images of fractals in Java</p>
			<ul class="actions">
				<li><a href="https://github.com/ChemicalDevelopment/FractalRender" class="button special-blue">Code</a></li>
				<li><a href="https://github.com/ChemicalDevelopment/FractalRender/releases/latest" class="button special-red">Download</a></li>
			</ul>
		</section>
		<section>
			<span class="icon major fa-bar-chart accent3"></span>
			<h3>PGS</h3>
			<p>Prime Generator Search. A distributed computing project</p>
			<ul class="actions">
				<li><a href="https://github.com/ChemicalDevelopment/PGS" class="button special-blue">Code</a></li>
				<li><a href="./pgs/" class="button special-red">Website</a></li>
			</ul>
		</section>
	</div>
	<div class="features-row">
		<section>
			<span class="icon major fa-music accent3"></span>
			<h3>My Soundcloud</h3>
			<p>Most of my music is hosted on soundcloud</p>
			<ul class="actions">
				<li><a href="https://soundcloud.com/cade-brown-203790787" class="button special-blue">Music</a></li>
			</ul>
		</section>
		<section>
			<span class="icon major fa-wrench accent3"></span>
			<h3>Robotics</h3>
			<p>I am lead programmer for my school robotics team, FRC#3966</p>
			<ul class="actions">
				<li><a href="https://github.com/LN-STEMpunks" class="button special-blue">Code</a></li>
				<li><a href="https://lnstempunks.org/" class="button special-red">Website</a></li>
			</ul>
		</section>
	</div>
</section>

<div class="row">
	<div class="6u">
		{% for post in site.posts %}
			{% assign loopindex = forloop.index | modulo: 2 %}
			{% if loopindex == 0 %}
			{% if post.tag != "school" %}
				<ul>
					<section class="box special">
						<span class="image featured"><img src="{{ site.baseurl }}assets/images/{{ post.image }}" alt="" /></span>
						<h3>{{ post.title }}</h3>
						<p>{{ post.description }}</p>
						<ul class="actions">
							<li><a href="{{ post.url }}" class="button alt">Read Article</a></li>
						</ul>
					</section>
			{% endif %}
			{% endif %}
		{% endfor %}							
	</div>
	<div class="6u">
		{% for post in site.posts %}
			{% assign loopindex = forloop.index | modulo: 2 %}
			{% if loopindex == 1 %}
			{% if post.tag != "school" %}
				<ul>
					<section class="box special">
						<span class="image featured"><img src="{{ site.baseurl }}assets/images/{{ post.image }}" alt="" /></span>
						<h3>{{ post.title }}</h3>
						<p>{{ post.description }}</p>
						<ul class="actions">
							<li><a href="{{ post.url }}" class="button alt">Read Article</a></li>
						</ul>
					</section>
			{% endif %}
			{% endif %}
		{% endfor %}							
	</div>
</div>
