		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/dev_ceb" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://github.com/ChemicalDevelopment/" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="/contact/" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>ChemicalDevelopment.</li>
					<li><a href="/licensing/">Licensing</a></li>
				</ul>
			</footer>
	</body>
</html>