<div class="row post-list-row">
    
    {% if post.thumb %}
    <div class="col-12 col-md-4 col-lg-3 post-list-thumb-col"><a href="{{ post.url }}"><img class="post-list-thumb img-circle" src="{{ assets_path }}{{ post.thumb }}"></a></div>
    {% else %}
    <div class="col-12 col-md-4 col-lg-3 post-list-thumb-col"><a href="{{ post.url }}"><img class="post-list-thumb img-circle" src="{{ assets_path }}img/logo/400.png"></a></div>
    {% endif %}
    

    <div class="col-12 col-md-8 col-lg-9 post-list-text-col">
        <a class="post-title-link" href="{{ post.url }}"><h5><b>{{post.title}}</b></h5></a>
        <span class="text-subtitle"><i>by</i></span> <span class="text-subtitle-artist"><a href="/artist/{{post.artist | remove: " " | slugify }}"><b>{{post.artist}}</b></a></span>
        <div class="post-list-text">{{ post.excerpt | strip_html }}</div>
        
        <div class="post-list-text-bottom"><i>Posted on {{ post.date | date: "%-d %B %Y" }}</i> in 
            {% for category in post.categories %}
                {% if site.data.music.categories contains category %}
                    <a href="/music/{{category}}">#{{ category }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>