---
layout: default
---

{% include common.html %}

<!--
    Use the front matter:

layout: author
name: name

to use this page
-->

<header class="masthead">
    <div class="container">
    </div>
</header>

<section class="post-body" id="body">
    <center>
        <h1 class="post-category">Author: {{ page.author }}</h1>
    </center>

<div class="row author-bio-row">
        
    {% if page.thumb %}
    <div class="col-12 col-md-4 col-lg-3 post-list-thumb-col">
        <img class="author-img img-circle" src="{{ assets_path }}{{ page.thumb }}">
    </div>
    {% endif %}
    <div class="col-12 col-md-8 col-lg-9 post-list-text-col">

    {{content}}

    </div>

</div>


    <center>
        <h1 class="post-category">Posts by {{page.author}}</h1>
    </center>

    {%- for post in site.posts -%}
        {% if post.author == page.author %}
        {% include postrow.html post=post %}
        {% endif %}
    {% endfor %}
    
</section>


