---
layout: default
---

{% include common.html %}
<!--
    Use the front matter:

layout: postcategory
category: category

to use this page
-->

<header class="masthead">
    <div class="container">
    </div>
</header>

<section class="post-body" id="body">
    <center>
            <h1 class="post-category">Post Category: {{page.category}}</h1>
        </center>

    {%- for post in site.posts -%}
        {% if post.categories contains page.category %}
        {% include postrow.html post=post %}
        {% endif %}
    {% endfor %}
    
</section>


