---
title: Articles
layout: default
---
<!-- 
	Loop through all posts
 -->
<section class="box special features">
	{% assign val = 0 %}
	<div class="features-row">
	{% for post in site.posts %}
		{% if val > 1 %}
			</div>
			<div class="features-row">
			{% assign val = 0 %}
		{% endif %}
		<section>
			<span class="image featured"><img src="/assets/images/{{ post.image }}" alt="Image not found" onerror="this.src='/assets/images/logo.png';" /></span>
			<h3>{{ post.title }}</h3>
			<p>{{ post.description }}</p>
			<ul class="actions">
				<li><a href="{{ post.url }}" class="button alt">Read Article</a></li>
			</ul>
		</section>
		{% assign val = val | plus: 1 %}
	{% endfor %}
</section>


